<!-- CSS styles -->
<link
  rel="stylesheet"
  href="/src/app/welcome-page/welcome-page.component.css"
/>

<!-- HTML DOM -->
<div>
  <h1 class="welcome">WELCOME TO GIT-SEARCH</h1>

  <hr />

  <P class="introduction">
    You can search github for: users and repositories. <br />
    To search users, click
    <a [routerLink]="['/users']" routerLinkActive="active">here</a> <br />
    To search for repositories, click
    <a [routerLink]="['/repos']" routerLinkActive="active">here</a>
  </P>
</div>
