<!-- CSS styles -->
<link rel="stylesheet" href="/src/app/app.component.css" />

<!-- HTML DOM -->

<!-- navigation section -->
<div class="container">
  <nav class="dashboard">
    <a [routerLink]="['/users']" routerLinkActive="active">User</a>
    <a [routerLink]="['/repos']" routerLinkActive="active">Repo</a>
  </nav>

  <div class="main">
    <!-- top section -->
    <div class="search-bar">
      <div>
        <h1>GIT-Search</h1>
      </div>
      <!-- search -->
      <div class="form-group">
        <input
          type="text"
          name="search"
          id="search"
          class="form-control"
          #search
          placeholder="search..."
        />
      </div>
      <div class="form-group">
        <button class="btn btn-outline-success form-control">
          Search
        </button>
      </div>
    </div>

    <!-- content section -->
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
