<!-- CSS styles -->
<link rel="stylesheet" href="/src/app/app.component.css" />

<!-- HTML DOM -->

<!-- navigation section -->
<div class="container">
  <nav class="dashboard">
    <a [routerLink]="['/users']" routerLinkActive="active">User</a>
    <a [routerLink]="['/repos']" routerLinkActive="active">Repo</a>
  </nav>

  <div class="main">
    <!-- top section -->
    <div class="search-bar">
        <h1 appCustomDirective>GIT-Search</h1>
    </div>

    <!-- content section -->
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
